@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Georgia", sans-serif;
  --third-family: "Avenir", sans-serif;
  --color-grin: #01996d;
  --color-grin-bg: #245852;
}

/* Сброс стилей */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Начало стилизации */
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #484848;
}
.container {
  padding: 0 275px;
}

/* nav */
.nav {
  padding: 30px 275px 25px;
}
.nav-box {
  display: flex;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  column-gap: 72px;
}
.nav-li:first-child {
  margin-left: -83px;
}
.nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #292929;
  text-decoration: none;
  padding-bottom: 5px;
}
.nav-link:hover {
  border-bottom: #01996d solid 3px;
}
.btn-box {
  padding-top: 2px;
}
.nav-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.sign {
  padding: 13px 30px;
  width: 183px;
  height: 51px;
}
.sign:hover {
  background-color: var(--color-grin);
  border-radius: 4px;
  color: #fff;
}
.start {
  background-color: var(--color-grin);
  border-radius: 4px;
  padding: 13px 50px;
  width: 183px;
  height: 51px;
  color: #fff;
}
.start:hover {
  background-color: var(--color-grin-bg);
}
.nav_min {
  display: none;
  width: 51px;
  height: 51px;
  border-radius: 4px;
  margin-top: -10px;
  background-color: var(--color-grin);
}
.nav_min_line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 7px;
}
.nav_min_line:first-child {
  margin-top: 12px;
}

/* header */
.header {
  background-image: url(../img/header_bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 895px; */
  padding-bottom: 357px;
}
.header-h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 65px;
  color: #01996d;
  max-width: 440px;
  padding: 180px 0 30px;
}
.header-p {
  max-width: 420px;
  line-height: 148%;
  padding-bottom: 72px;
}
.header-btn {
  padding: 20px 50px;
}
.img-min {
  display: none;
}

/* works */

.works {
  padding-bottom: 50px;
}
.works-top {
  padding-top: 169px;
}
.h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}
.works-box {
  display: flex;
  justify-content: space-between;
}
.h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}
.works-h2 {
  max-width: 584px;
}
.text {
  line-height: 150%;
  letter-spacing: 0.007em;
}
.works-p {
  margin-top: 20px;
  max-width: 650px;
  padding-bottom: 70px;
}
.box {
  display: flex;
  justify-content: center;
  column-gap: 95px;
}
.box-item {
  max-width: 390px;
  padding-top: 285px;
}
.box-item-header {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: rgba(1, 153, 109, 0.2);
  position: relative;
  text-align: left;
}
.box-item-h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000;
  position: relative;
  top: -94px;
  left: auto;
  right: auto;
}
.box-item-p {
  font-weight: 500;
  line-height: 150%;
  color: #424242;
  margin-top: -37px;
  letter-spacing: 0.007em;
  padding-bottom: 60px;
}
.box-item:first-child {
  padding-top: 0px;
}
.box-item:last-child {
  padding-top: 55px;
}

@media screen and (max-width: 1900px) {
  .works .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .works-top {
    padding-left: 230px;
    padding-right: 230px;
  }
  .works-box {
    column-gap: 70px;
  }
}
@media screen and (max-width: 1720px) {
  .nav,
  .header .container {
    padding: 30px;
  }
  .works-top {
    padding-left: 30px;
    padding-right: 30px;
  }
  .works-box {
    column-gap: 30px;
  }
}
@media screen and (max-width: 1439px) {
  .box {
    flex-wrap: wrap;
  }
  .box-item {
    padding-top: 0px;
  }
  .box-item:last-child {
    padding-top: 0px;
  }
  .works-top {
    padding-top: 70px;
  }
  .box-item-p {
    min-height: 206px;
  }
  .box-item:last-child .box-item-p {
    min-height: 100px;
  }
}
@media screen and (max-width: 1350px) {
  .nav-li:first-child {
    margin-left: 100px;
  }
  .nav-ul {
    column-gap: 45px;
  }
  .works-box {
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .nav-ul {
    display: none;
  }
  .nav_min {
    display: inline-block;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 80px auto;
  }
  .header {
    background-size: auto;
    padding-bottom: 60px;
    background-position: center;
  }
  .header-h1 {
    padding-top: 60px;
  }
}
@media screen and (max-width: 920px) {
  .box-item-p {
    min-height: 100px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    background-image: none;
    background-color: #edf0ee;
  }
  .img-min {
    display: block;
  }
  .header-h1 {
    padding-top: 30px;
  }
}
@media screen and (max-width: 530px) {
  .btn-box {
    display: none;
  }
  .header-h1 {
    font-size: 45px;
    max-width: 305px;
  }
  .header-btn {
    padding: 20px 20px;
  }
  .h2{
    font-size: 30px;
  }
}
